$activ-color: #9098a9;
$disabled-color: #b6b5b6;

footer {
    .inp {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 280px;
        .label {
            position: absolute;
            top: 20px;
            left: 0;
            // font-size: 16px;
            color: #9098a9;
            font-weight: 500;
            transform-origin: 0 0;
            transition: all 0.2s ease;
        }
        .border {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: $activ-color;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: all 0.15s ease;
        }
        input {
            -webkit-appearance: none;
            width: 100%;
            border: 0;
            font-family: inherit;
            padding: 12px 0;
            height: 42px;
            // font-size: 16px;
            font-weight: 500;
            border-bottom: 2px solid #c8ccd4;
            background: none;
            border-radius: 0;
            color: #223254;
            transition: all 0.15s ease;
            &:hover {
            background: rgba(34, 50, 84, 0.03);
            }
            &:not(:placeholder-shown) + span {
            color: #5a667f;
            transform: translateY(-18px) scale(0.75);
            }
            &:focus {
            background: none;
            outline: none;
            + span {
                color: $activ-color;
                transform: translateY(-18px) scale(0.75);
                + .border {
                transform: scaleX(1);
                }
            }
            }
        }
    } 
}