div.text-box-left-top {
    width: 50%;
    text-align: left;
}

header {
    text-align: center;
    background-image: url("../images/header_background.png"); 
    background-position: center;
    background-size: cover;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

.section-start {
    background-image: url("../images/start_background.png"); 
    background-size: cover;
    min-height: inherit;
}

.section-video {
    background-color: gray; 
    background-size: cover;
}

.video_section_bottom {
    background-color: white;
}

.section-bottom-01 {
    background-image: url("../images/bottom_background_01.png"); 
    background-position: center;
    background-size: cover;
}

.section-bottom-02 {
    background-image: url("../images/bottom_background_02.png"); 
    background-position: center;
    background-size: cover;
}