footer .inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px; }
  footer .inp .label {
    position: absolute;
    top: 20px;
    left: 0;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease; }
  footer .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #9098a9;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease; }
  footer .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 42px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease; }
    footer .inp input:hover {
      background: rgba(34, 50, 84, 0.03); }
    footer .inp input:not(:placeholder-shown) + span {
      color: #5a667f;
      transform: translateY(-18px) scale(0.75); }
    footer .inp input:focus {
      background: none;
      outline: none; }
      footer .inp input:focus + span {
        color: #9098a9;
        transform: translateY(-18px) scale(0.75); }
        footer .inp input:focus + span + .border {
          transform: scaleX(1); }

.animation-start {
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: -12px;
  color: red;
  text-decoration: underline;
  text-decoration-color: #002d5c;
  -webkit-text-decoration-color: #002d5c;
  -webkit-animation-name: animation-start;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.4s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse;
  /* Safari 4.0 - 8.0 */
  animation-name: animation-start;
  animation-duration: 0.4s;
  animation-direction: reverse; }

.animation-end {
  position: relative;
  -webkit-animation-name: animation-end;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.4s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse;
  /* Safari 4.0 - 8.0 */
  animation-name: animation-end;
  animation-duration: 0.4s;
  animation-direction: reverse; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-start {
  0% {
    color: red;
    text-decoration: none;
    left: 0px;
    top: -11px; }
  100% {
    color: #002d5c;
    text-decoration: none;
    left: 0px;
    top: 0px; } }
/* Standard syntax */
@keyframes animation-start {
  0% {
    color: red;
    text-decoration: none;
    left: 0px;
    top: -11px; }
  100% {
    color: #002d5c;
    text-decoration: none;
    left: 0px;
    top: 0px; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-end {
  0% {
    position: relative;
    color: #002d5c;
    text-decoration: none;
    top: 0px; }
  100% {
    position: relative;
    color: red;
    text-decoration: none;
    top: -11px; } }
/* Standard syntax */
@keyframes animation-end {
  0% {
    color: #002d5c;
    position: relative;
    text-decoration: none;
    top: 0px; }
  100% {
    position: relative;
    color: red;
    text-decoration: none;
    top: -11px; } }
.video-wrapper {
  position: relative; }
  .video-wrapper > video {
    width: 100%;
    vertical-align: middle; }
    .video-wrapper > video[poster] {
      object-fit: cover; }
    .video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
      display: none; }

.video-overlay-play-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.95;
  cursor: pointer;
  background-image: linear-gradient(transparent, #000);
  transition: opacity 150ms; }
  .video-overlay-play-button:hover {
    opacity: 1; }
  .video-overlay-play-button.is-hidden {
    display: none; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../font/Myriad Pro Regular.ttf") format("truetype"); }
p.customfont {
  font-family: "MyriadProRegular", Verdana, Tahoma; }

body {
  font-family: "MyriadProRegular", Verdana, Tahoma;
  /* margin-left: 10px; */ }

h1, h2, h3, h4, h5, p, ul, li
, .row {
  margin: 0px;
  padding: 0px; }

.navbar-right {
  margin-right: 0px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.figure-background-1, .figure-background-2, .figure-background-3 {
  width: 100%;
  height: 755px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; }

.figure-background-1 {
  background-color: #efd4eb;
  -webkit-clip-path: polygon(95% 0, 5% 0, 50% 100%);
  clip-path: polygon(95% 0, 5% 0, 50% 100%); }

.figure-background-2 {
  background-color: #bfb3ce;
  -webkit-clip-path: polygon(75% 0, 25% 0, 50% 100%);
  clip-path: polygon(75% 0, 25% 0, 50% 100%); }

.figure-background-3 {
  background-color: #ccd5de;
  -webkit-clip-path: polygon(61% 0, 39% 0, 50% 100%);
  clip-path: polygon(61% 0, 39% 0, 50% 100%); }

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: MyriadProRegular;
  color: #7423b8;
  font-size: 20px;
  background: #ffffff;
  padding: 2px 42px 0px 42px;
  text-decoration: none; }
  .btn:hover {
    background: #f0f0f0;
    text-decoration: none; }

nav .navbar-left img {
  height: 34px;
  padding-top: 6px;
  padding-left: 23px; }
nav .navbar-right {
  margin-left: 0px; }
nav .nav .btn-background {
  background-color: #35124b;
  height: 50px; }
  nav .nav .btn-background a {
    color: #7423b8;
    font-size: 18px; }
    nav .nav .btn-background a:hover {
      background: #f0f0f0;
      text-decoration: none; }
    nav .nav .btn-background a:focus {
      background: #ffffff; }
    nav .nav .btn-background a span {
      color: #002d5c;
      padding: 5px 5px 5px 5px; }
nav .nav .btn {
  padding: 3px 10px 0px 10px;
  margin: 11px 9px 9px 9px; }

header {
  text-align: center;
  background-image: url("../images/header_background.png");
  background-position: center;
  background-size: cover;
  min-height: 550px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.9; }
  header .header-container {
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    padding: 85px 0px 60px 0px; }
    @media (max-width: 768px) {
      header .header-container {
        width: 85%; } }
    header .header-container h1 {
      font-size: 75px;
      padding-top: 20px;
      padding-bottom: 10px;
      text-shadow: 2px 3px 5px #000000; }
      @media (max-width: 768px) {
        header .header-container h1 {
          font-size: 55px; } }
    header .header-container h4 {
      size: 16.8px; }
    header .header-container button {
      margin-top: 25px;
      background: #ffffff;
      color: #7423b8;
      size: 27.6px; }
    header .header-container .container {
      max-width: 400px; }
      header .header-container .container .carousel {
        min-height: 64px; }
        header .header-container .container .carousel .carousel-inner .item {
          width: 100%;
          padding: 0 60px 0 60px; }
        header .header-container .container .carousel .carousel-control {
          background-image: none; }
          header .header-container .container .carousel .carousel-control .glyphicon {
            margin-top: 15px; }
    header .header-container .btn {
      margin-top: 20px;
      margin-bottom: 25px; }
    header .header-container .scroll-down {
      margin-top: 25px;
      font-size: 8px; }
      header .header-container .scroll-down p {
        color: white;
        opacity: 0.9; }
      header .header-container .scroll-down:hover, header .header-container .scroll-down:hover p {
        color: white;
        text-decoration: none;
        opacity: 0.5; }
      header .header-container .scroll-down img {
        height: 25px;
        margin-top: 5px; }
  @media (max-width: 768px) {
    header {
      min-height: auto; } }

.col-sm-6 {
  float: none;
  display: table-cell;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 768px) {
    .col-sm-6 {
      display: block;
      width: 100%; } }

.section-start {
  background-image: url("../images/start_background.png");
  background-size: cover;
  min-height: inherit;
  text-align: center;
  padding: 55px 30px 30px 30px; }
  .section-start p, .section-start h2, .section-start h3, .section-start h4 {
    display: inline-table;
    width: 71%; }
  .section-start P {
    display: inline-table;
    width: 75%;
    font-weight: lighter;
    color: #8294aa;
    font-size: 13.2px;
    margin-top: 22px; }
  .section-start h2 {
    color: #002d5c;
    font-size: 45.2px;
    cursor: pointer; }
  .section-start h3, .section-start h4 {
    color: #d91223; }
  .section-start h3 {
    font-weight: lighter;
    font-size: 31.2px;
    margin-top: 38px;
    margin-bottom: 5px; }
  .section-start h4 {
    width: 71%;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 0px; }
  .section-start span {
    margin-right: 10px;
    margin-left: 10px; }

.section-video {
  background-color: white;
  background-size: cover; }

.video_section_bottom {
  background-color: white;
  padding: 23px 10px 19px 30px; }

.section-bottom-01, .section-bottom-02 {
  background-position: center;
  background-size: cover;
  padding-left: 30px;
  padding-top: 34px;
  padding-bottom: 30px; }

.section-bottom-01 {
  background-image: url("../images/bottom_background_01.png"); }

.section-bottom-02 {
  background-image: url("../images/bottom_background_02.png"); }
  .section-bottom-02 .circle {
    text-align: center;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    background-color: rgba(187, 187, 233, 0.5);
    position: absolute;
    top: 12%;
    right: 11%; }
  .section-bottom-02 .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .section-bottom-02 .circle__wrapper {
    display: table;
    width: 100%;
    height: 100%; }
  .section-bottom-02 .circle__content {
    color: #ffffff;
    display: table-cell;
    padding: 1em;
    vertical-align: middle; }
  .section-bottom-02 img {
    height: 79px;
    border-radius: 100%;
    position: absolute;
    top: -1%;
    right: 27%; }

.text-box-left-top {
  width: 53%;
  text-align: left; }
  .text-box-left-top h3 {
    font-size: 26.4px;
    color: #002d5c; }
  .text-box-left-top p {
    width: 86%;
    font-size: 10.8px;
    color: #7d8aa8;
    margin-top: 11px;
    margin-bottom: 11px; }

footer {
  text-align: left;
  background-color: #f5f4f5;
  padding-left: 30px;
  padding-top: 34px; }
  footer ul {
    list-style-type: none; }
  footer h3 {
    font-size: 15.4px;
    margin-left: 15px;
    margin-bottom: 15px;
    color: #002d5c; }
  footer p, footer ul, footer li, footer .label, footer label, footer input {
    font-size: 9px;
    color: #b6b5b6; }
  footer .footer-right-part, footer .footer-left-part {
    padding-top: 30px; }
  footer .footer-right-part h3 {
    margin: 0px; }
  footer .footer-right-part .link-element {
    margin-top: 20px;
    margin-bottom: 23px;
    margin-left: auto; }

.link-element {
  display: flex;
  height: 32px;
  width: 45px;
  cursor: pointer; }
  .link-element .text-link {
    vertical-align: middle;
    font-size: 9px;
    color: #002d5c;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    width: 20px; }
  .link-element .link-img {
    flex: 1;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%; }

.row .all-rights-reserved {
  height: 20px;
  text-align: center;
  color: #b6b5b6;
  font-size: 7px;
  padding-top: 5px; }

/*# sourceMappingURL=style.css.map */
