@import "footer_form_input_style.scss";
@import "start_section_animation.scss";
@import "video_style.scss";

$h3-main-color: #002d5c;
$p-main-color: #b6b5b6;

@font-face {
    font-family: "MyriadProRegular";
    src: url("../font/Myriad\ Pro\ Regular.ttf") format("truetype");
}
p.customfont { 
    font-family: "MyriadProRegular", Verdana, Tahoma;
}

body {
    font-family: "MyriadProRegular", Verdana, Tahoma;
    /* margin-left: 10px; */
}

h1, h2, h3, h4, h5, p, ul, li
, .row {
    margin: 0px;
    padding: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.figure-background-1, .figure-background-2, .figure-background-3 {
    width: 100%;
    height: 755px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.figure-background-1 {
    background-color: #efd4eb;
    -webkit-clip-path: polygon(95% 0, 5% 0, 50% 100%);
    clip-path: polygon(95% 0, 5% 0, 50% 100%);
}
.figure-background-2 {
    background-color: #bfb3ce;
    -webkit-clip-path: polygon(75% 0, 25% 0, 50% 100%);
    clip-path: polygon(75% 0, 25% 0, 50% 100%);
}
.figure-background-3 {
    background-color: #ccd5de;
    -webkit-clip-path: polygon(61% 0, 39% 0, 50% 100%);
    clip-path: polygon(61% 0, 39% 0, 50% 100%);
}


.btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: MyriadProRegular;
    color: #7423b8;
    font-size: 20px;
    background: #ffffff;
    padding: 2px 42px 0px 42px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-decoration: none;
    &:hover {
        background: #f0f0f0;
        text-decoration: none;
    }
}

header {
    text-align: center;
    background-image: url("../images/header_background.png"); 
    background-position: center;
    background-size: cover;
    min-height: 550px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.9;
    .header-container {
        width:61%;
        margin-left: auto;
        margin-right: auto;
        padding: 85px 0px 60px 0px;
        @media (max-width: 768px) {
            width: 85%;
        }
        h1 {
            font-size: 75px;
            padding-top: 20px;
            padding-bottom: 10px;
            text-shadow: 2px 3px 5px #000000;
            @media (max-width: 768px) {
                font-size: 55px;
            }
        }
        h4 {
            size: 16.8px;
        }
        button {
            margin-top: 25px;
            background: #ffffff;
            color: #7423b8;
            size: 27.6px;
        }
        .container {
            max-width:400px;
            .carousel {
                min-height: 64px;
                .carousel-inner {
                    .item{
                        width: 100%;
                        padding: 0 60px 0 60px;
                    }
                }
                .carousel-control {
                    background-image: none;
                    .glyphicon {
                        margin-top:15px;
                    }
                }
            }
        }
        .btn {
        }
        .scroll-down {
            margin-top: 25px;
            font-size: 8px;
            p {
                color: white;
                opacity: 0.9;
            }
            &:hover, &:hover p {
                color: white;
                text-decoration: none;
                opacity: 0.5;
            }
            img {
                height: 25px;
                margin-top: 5px;
            }
        }
    }
    @media (max-width: 768px) {
        min-height: auto;
    }
}

.col-sm-6 {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }
}

.section-start {
    background-image: url("../images/start_background.png"); 
    background-size: cover;
    min-height: inherit;
    text-align: center; 
    padding: 55px 30px 30px 30px;
    p, h2, h3, h4 {
        display: inline-table;
        width: 71%;
    }
    P {
        display: inline-table;
        width: 75%;
        font-weight: lighter;
        color: #8294aa;
        font-size: 13.2px;
        margin-top: 22px;
    }
    h2 {
        color: $h3-main-color;
        font-size: 45.2px;
        cursor: pointer;
        
    }
    h3, h4 {
        color: #d91223;
    }
    h3 {
        font-weight: lighter;
        font-size: 31.2px;
        margin-top: 38px;
        margin-bottom: 5px;
    }
    h4 {
        width: 71%;
        font-weight: lighter;
        font-size: 18px;
        margin-top: 0px;
    }
    span {
        margin-right: 10px;
        margin-left: 10px;
    }
} 

.section-video {
    background-color: white; 
    background-size: cover;
}

.video_section_bottom {
    background-color: white;
    padding: 23px 10px 19px 30px;
}

.section-bottom-01, .section-bottom-02  {
    background-position: center;
    background-size: cover;
    padding-left: 30px;
    padding-top: 34px;
    padding-bottom: 30px;
}

.section-bottom-01 {
    background-image: url("../images/bottom_background_01.png"); 
}

.section-bottom-02 {
    background-image: url("../images/bottom_background_02.png"); 
    .circle{
        text-align: center;
        height: 160px;
        width: 160px;
        border-radius: 100%;
        background-color: rgba(187, 187, 233, 0.5);
        position: absolute;
        top: 12%;
        right: 11%;
    }
    .circle__inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .circle__wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }
    .circle__content {
        color: #ffffff;
        display: table-cell;
        padding: 1em;
        vertical-align: middle;
    }
    img {
        height: 79px;
        border-radius: 100%;
        position: absolute;
        top: -1%;
        right: 27%;
    }
}

.text-box-left-top {
    width: 53%;
    text-align: left;
    h3 {
        font-size: 26.4px;
        color: $h3-main-color;
    }
    p {
        width: 86%;
        font-size: 10.8px;
        color: #7d8aa8;
        margin-top: 11px;
        margin-bottom: 11px;
    }
}

footer {
    text-align: left;
    background-color: #f5f4f5;
    padding-left: 30px;
    padding-top: 34px;
    ul {
        list-style-type: none;
    }
    h3 {
        font-size: 15.4px;
        margin-left: 15px;
        margin-bottom: 15px;
        color: $h3-main-color;
    }
    p, ul, li, .label, label, input {
        font-size: 9px;
        color: $p-main-color;
    }
    .footer-right-part, .footer-left-part {
        padding-top: 30px;
    }
    .footer-right-part {
        h3 {
            margin: 0px;
        }
        .link-element {
            margin-top: 20px;
            margin-bottom: 23px;
            margin-left: auto;
        }
    }
}

.link-element {
    display: flex;
    height: 32px;
    width: 45px;
    cursor: pointer;
    .text-link {
        vertical-align: middle;
        font-size: 9px;
        color: #002d5c;
        margin-top: auto;
        margin-bottom: auto;
        text-transform: uppercase;
        width:20px;
    }
    .link-img {
        flex: 1;
        background-image: url("../images/arrow.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
}

.row {
    .all-rights-reserved {
        height: 20px;
        text-align: center;
        color: $p-main-color;
        font-size: 7px;
        padding-top: 5px;
    }
}
