@import "footer_form_input_style.scss";
@import "start_section_animation.scss";
@import "video_style.scss";

$h3-main-color: #002d5c;

@font-face {
    font-family: "MyriadProRegular";
    src: url("../font/Myriad\ Pro\ Regular.ttf") format("truetype");
}
p.customfont { 
    font-family: "MyriadProRegular", Verdana, Tahoma;
}

body {
    font-family: "MyriadProRegular", Verdana, Tahoma;
    /* margin-left: 10px; */
}

h1, h2, h3, h4, h5, p, ul, li
, .row {
    margin: 0px;
    padding: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

header {
    text-align: center;
    background-image: url("../images/header_background.png"); 
    background-position: center;
    background-size: cover;
    min-height: 550px;
    color: #ffffff;
    text-transform: uppercase;
    .header-container {
        padding: 85px 30px 60px 30px;
        max-width: 800px;
        margin: 0 auto;
        h1 {
            font-size: 75px;
            padding-top: 20px;
        }
        h4 {
            size: 16.8px;
        }
        button {
            margin-top: 25px;
            background: #ffffff;
            color: #7423b8;
            size: 27.6px;
        }
        .scroll-down {
            padding-top: 25px;
            font-size: 8px;
        }
        img {
            height: 25px;
            margin-top: 5px;
        }
    }
    @media (max-width: 768px) {
        min-height: auto;
    }
}

.col-sm-6 {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }
}

.section-start {
    background-image: url("../images/start_background.png"); 
    background-size: cover;
    min-height: inherit;
    text-align: center; 
    padding: 55px 30px 30px 30px;
    p, h2, h3, h4 {
        display: inline-table;
        width: 71%;
    }
    P {
        display: inline-table;
        width: 75%;
        font-weight: lighter;
        color: #8294aa;
        font-size: 13.2px;
        margin-top: 22px;
    }
    h2 {
        color: $h3-main-color;
        font-size: 45.2px;
        cursor: pointer;
        
    }
    h3, h4 {
        color: #d91223;
    }
    h3 {
        font-weight: lighter;
        font-size: 31.2px;
        margin-top: 38px;
        margin-bottom: 5px;
    }
    h4 {
        width: 71%;
        font-weight: lighter;
        font-size: 18px;
        margin-top: 0px;
    }
    span {
        margin-right: 10px;
        margin-left: 10px;
    }
} 

.section-video {
    background-color: white; 
    background-size: cover;
}

.video_section_bottom {
    background-color: white;
    padding: 23px 10px 19px 30px;
}

.section-bottom-01, .section-bottom-02  {
    background-position: center;
    background-size: cover;
    padding-left: 30px;
    padding-top: 34px;
}

.section-bottom-01 {
    background-image: url("../images/bottom_background_01.png"); 
}

.section-bottom-02 {
    background-image: url("../images/bottom_background_02.png"); 
}

.text-box-left-top {
    width: 53%;
    text-align: left;
    h3 {
        font-size: 26.4px;
        color: $h3-main-color;
    }
    p {
        width: 86%;
        font-size: 10.8px;
        color: #7d8aa8;
        margin-top: 11px;
    }
}

footer {
    text-align: left;
    background-color: #f5f4f5;
    padding-left: 30px;
    padding-top: 34px;
    ul {
        list-style-type: none;
    }
    h3 {
        font-size: 15.4px;
        margin-left: 15px;
        margin-bottom: 15px;
        color: $h3-main-color;
    }
    p, ul, li, .label, label, input {
        font-size: 9px;
        color: #b6b5b6;
    }
    .footer-right-part, .footer-left-part {
        padding-top: 30px;
    }
    .footer-right-part {
        h3 {
            margin: 0px;
        }
        .link-element {
            margin-top: 20px;
            margin-bottom: 23px;
            margin-left: auto;
        }
    }
}

.link-element {
    display: flex;
    height: 32px;
    width: 45px;
    cursor: pointer;
    .text-link {
        vertical-align: middle;
        font-size: 9px;
        color: #002d5c;
        margin-top: auto;
        margin-bottom: auto;
        text-transform: uppercase;
    }
    .link-img {
        flex: 1;
        background-image: url("../images/arrow.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    }
}
