@font-face {
    font-family: "MyriadProRegular";
    src: url("../font/Myriad\ Pro\ Regular.ttf") format("truetype");
}
p.customfont { 
    font-family: "MyriadProRegular", Verdana, Tahoma;
}

body {
    font-family: "MyriadProRegular", Verdana, Tahoma;
    /* margin-left: 10px; */
}

h1, h2, h3, h4, h5, p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

header {
    text-align: center;
    background-image: url("../images/header_background.png"); 
    background-position: center;
    background-size: cover;
    min-height: 550px;
    color: #ffffff;
    text-transform: uppercase;
    .header-container {
        padding: 85px 30px 60px 30px;
        max-width: 800px;
        margin: 0 auto;
        h1 {
            font-size: 75px;
            padding-top: 20px;
        }
        h4 {
            size: 16.8px;
        }
        button {
            margin-top: 25px;
            background: #ffffff;
            color: #7423b8;
            size: 27.6px;
        }
        .scroll-down {
            padding-top: 25px;
            font-size: 8px;
        }
        img {
            height: 25px;
            margin-top: 5px;
        }
    }
    @media (max-width: 768px) {
        min-height: auto;
    }
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    @media (max-width: 768px) {
        display: block;
        width: 100%;
    }
}

.section-start {
    background-image: url("../images/start_background.png"); 
    background-size: cover;
    min-height: inherit;
    text-align: center; 
    padding: 55px 30px 30px 30px;
    p, h2, h3, h4 {
        display: inline-table;
        width: 71%;
    }
    P {
        display: inline-table;
        width: 75%;
        font-weight: lighter;
        color: #8294aa;
        font-size: 13.2px;
        margin-top: 22px;
    }
    h2 {
        color: #002d5c;
        font-size: 45.2px;
        cursor: pointer;
        
    }
    h3, h4 {
        color: #d91223;
    }
    h3 {
        font-weight: lighter;
        font-size: 31.2px;
        margin-top: 38px;
        margin-bottom: 5px;
    }
    h4 {
        width: 71%;
        font-weight: lighter;
        font-size: 18px;
        margin-top: 0px;
    }
    span {
        margin-right: 10px;
        margin-left: 10px;
    }
} 

.animation-start {
    margin-right: 10px;
    margin-left: 10px;
    position:relative;
    top:-12px;
    color: red;
    text-decoration: underline;
    text-decoration-color: #002d5c;
    -webkit-text-decoration-color: #002d5c;
    -webkit-animation-name: animation-start; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-name: animation-start;
    animation-duration: 0.4s;
    animation-direction: reverse;  
}

.animation-end {
    position: relative;
    -webkit-animation-name: animation-end; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-name: animation-end;
    animation-duration: 0.4s;
    animation-direction: reverse; 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-start {
    0%   {color:red; text-decoration: none; left:0px; top:-11px;}
    100% {color:#002d5c; text-decoration: none; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes animation-start {
    0%   {color:red; text-decoration: none; left:0px; top:-11px;}
    100% {color:#002d5c; text-decoration: none; left:0px; top:0px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-end {
    0%   { 
        position:relative; 
        color:#002d5c; 
        text-decoration: none;
        top:0px;
    }
    100% {
        position:relative;
        color: red; 
        text-decoration: none; 
        top:-11px;
    }
}

/* Standard syntax */
@keyframes animation-end {
    0%   { 
        color:#002d5c; 
        position:relative; 
        text-decoration: none;
        top:0px;
    }
    100% {
        position:relative;
        color: red; 
        text-decoration: none; 
        top:-11px;
    }
}

.section-video {
    background-color: white; 
    background-size: cover;
}

.video_section_bottom {
    background-color: white;
    padding: 23px 10px 19px 30px;
}

.section-bottom-01, .section-bottom-02  {
    background-position: center;
    background-size: cover;
    padding-left: 30px;
    padding-top: 34px;
}

.section-bottom-01 {
    background-image: url("../images/bottom_background_01.png"); 
}

.section-bottom-02 {
    background-image: url("../images/bottom_background_02.png"); 
}

.text-box-left-top {
    width: 53%;
    text-align: left;
    h3 {
        font-size: 26.4px;
        color: #002d5c
    }
    p {
        width: 86%;
        font-size: 10.8px;
        color: #7d8aa8;
        margin-top: 11px;
    }
}